body, html {
	font-family: Georgia, "Times New Roman", Serif;
	color: white;
}

.container {
	position: relative;
	border: 1vh black solid;
	border-radius: 50%;
	margin: auto;
	width: 60vh;
	height: 60vh;
	background-color: black;
}

.button-row {
	width: 100%;
	height: 50%;
}

.btn {
	width: 48%;
	height: 96%;
	float: left;
	margin: 1%;
	cursor: pointer;
}

.unclickable {
	pointer-events: none;
}

.clickable {
	pointer-events: auto;
}

.top-left {
	border-top-left-radius: 100%;
	background-color: #BF0000; /*red*/
}

.top-left:active, .top-left.active {
	background-color: #FF0000
}

.top-right {
	border-top-right-radius: 100%;
	background-color: #0000BF; /*blue*/
}

.top-right:active, .top-right.active {
	background-color: #2133FF;
}

.bottom-left {
	border-bottom-left-radius: 100%;
	background-color: #006600; /*green*/
}

.bottom-left:active, .bottom-left.active {
	background-color: #00A000;
}

.bottom-right {
	border-bottom-right-radius: 100%;
	background-color: #BFBF00; /*yellow*/
}

.bottom-right:active, .bottom-right.active {
	background-color: #FFFF00;
}

.innerCircle {
	position: absolute;
	top: 15vh;
	left: 15vh;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: black;
	z-index: 10;
	overflow: auto;
}

.brand {
	text-align: center;
	font-size: 6vh;
	padding: 4vh 0 0 0;
	margin: 0;
	user-select: none;
}

.small {
	font-size: 1.5vh;
	position: relative;
	top: -3vh;
	user-select: none;
}

.wrap {
	display: flex;
	justify-content: center;
	margin-top: 1.5vh;
}

.col {
	text-align: center;
}

#display {
	color: black;
	margin: 0 0 0 2.5vh;
	font-size: 4vh;
	width: 8vh;
	height: 5vh;
	background-color: grey;
	border-radius: 10px;
}

.label1 {
	color: white;
	font-family: Arial, sans;
	font-size: 1.25vh;
	margin-left: 2vh;
	padding-top: .75vh;
	text-align: center;
}

.btn-round {
	height: 3.5vh;
	width: 3.5vh;
	border-radius: 50%;
}

#start {
	margin-top: 1vh;
	margin-left: 1.5vh;
	background-color: #ff0000;
}

.label2 {
	color: white;
	font-family: Arial, sans;
	font-size: 1.25vh;
	margin-left: 1vh;
	padding-top: .75vh;
	text-align: center;
}

#led {
	margin-left: 3vh;
	height: .5vh;
	width: .5vh;
	background-color: #ff0000;
}

#strict {
	margin-top: .5vh;
	margin-left: 1.5vh;
	margin-right: 2vh;
	background-color: #ffff00;
}

.label3 {
	color: white;
	font-family: Arial, sans;
	font-size: 1.25vh;
	margin-left: -.75vh;
	padding-top: .75vh;
	text-align: center;
}

.col2 {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0;
	border: 0;
}

#reset {
	background-color: #0000ff;
}

.label4 {
	color: white;
	font-family: Arial, sans;
	font-size: 1.25vh;
	padding-top: .75vh;
	text-align: center;
}

@media (max-width: 576px) {
	.container {
		width: 50vh;
		height: 50vh;
	}

	.innerCircle {
		top: 12.5vh;
		left: 12.5vh;
	}

	.wrap {
		display: flex;
		justify-content: center;
		margin-top: 0;
	}


}



