body, html {
	font-family: Georgia, "Times New Roman", Serif;
	color: white;
}


.container {
	position: relative;
	border: 1vh black solid;
	border-radius: 50%;
	margin: auto;
	width: 50vh;
	height: 50vh;
	background-color: black;
}

.button-row {
	width: 100%;
	height: 50%;
}

.btn {
	width: 48%;
	height: 96%;
	float: left;
	margin: 1%;
}

.top-left {
	border-top-left-radius: 100%;
	background-color: #ff0000;
}

.top-right {
	border-top-right-radius: 100%;
	background-color: #0000ff; 
}

.bottom-left {
	border-bottom-left-radius: 100%;
	background-color: #008000;
}

.bottom-right {
	border-bottom-right-radius: 100%;
	background-color: #ffff00;
}

.innerCircle {
	position: absolute;
	top: 12.5vh;
	left: 12.5vh;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: black;
	z-index: 10;
}

.brand {
	text-align: center;
	font-size: 6vh;
	padding-top: 4vh;
}

.small {
	font-size: 1.5vh;
	position: relative;
	top: -3vh;
}


